/* 전체 앱 스타일 */
/* .app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
} */

/* 메인 콘텐츠 */
/* .app-main {
  flex: 1;
  width: 100%;
  display: flex;
} */


/* 오른쪽 하단 Task 추가 버튼 */
.task-add-button {
  position: fixed;
  bottom: 20px; /* 화면 하단에서 20px */
  right: 20px; /* 화면 오른쪽에서 20px */
  width: 50px;
  background-color: var(--button-primary-color);
  color: white;
  font-size: 20px;
  line-height: 50px;
  font-weight: bold;
  border: none;
  border-radius: 50%; /* 동그란 버튼 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 0px;
}

.task-add-button:hover {
  background-color: var(--button-primary-color);; /* Hover 시 색상 변경 */
}

/* 오른쪽 하단 Task 추가 버튼 */
.task-add-button.plan, .task-add-button.done, .task-add-button.todo, .task-add-button.diary {
  right: 20px; /* 화면 오른쪽에서 20px */
  width: 50px;
  font-size: 15px;
  line-height: 50px;
}

.task-add-button.plan {
  bottom: 80px; /* 화면 하단에서 20px */
}

.task-add-button.done {
  bottom: 140px; /* 화면 하단에서 20px */
}

.task-add-button.todo {
  bottom: 200px; /* 화면 하단에서 20px */
}

.task-add-button.task-add-button.diary {
  bottom: 260px; /* 화면 하단에서 20px */
}

