/* 기본 테마 */
:root {
    --primary-color: #3700d0;
    --secondary-color: #3700d094;
    --background-color: #ffffff;
    --background-dark-color: #444;
    --background-selected-color: #e7e6e6;
    --primary-color-red: #ef5350;
    --text-color: #333333;
    --text-color-white: #f8f9fa;
    --text-secondary-color: #757575;

    --button-primary-color: #3700d0;
    --button-primary-text-color: #ffffff;
    --button-cancel-color: #ccc;
    --button-cancel-text-color: #f8f9fa;
    --button-text-color: #f8f9fa;

    --plan-background-color: #000ad020;
    --plan-border-color: #000ad026;

    --done-background-color: #98989820;
    --done-border-color: #98989826;


    --task-completed-color: #d9f7be;
    --task-border-color: #52c41a;
  }
  
  /* 다크 테마 */
  [data-theme="dark"] {
    --primary-color: #3700d094;
    --secondary-color: #3700d0;
    --background-color: #121212;
    --background-selected-color: #333333;
    --text-color: #f8f9fa;
    --text-secondary-color: #757575;
    --task-completed-color: #444;
    --task-border-color: #666;
  }
  