.Button {
    background-color: var(--button-primary-color);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 10px;
    white-space: nowrap;
    color: #000;
}

.Button_PRIMARY {
    background-color: var(--button-primary-color);
    color: var(--button-primary-text-color);
}

.Button_CANCEL {
    background-color: var(--button-cancel-color);
    color: var(--button-cancel-text-color);
}