/* .Button {
    background-color: var(--button-primary-color);
    color: var(--button-primary-text-color);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    white-space: nowrap;
}

.Button_PRIMARY {
    background-color: var(--button-primary-color);
    color: var(--button-primary-text-color);
}

.Button_CANCEL {
    background-color: var(--button-cancel-color);
    color: var(--button-cancel-text-color);
}

.Button_CANCEL:hover {
    background-color: var(--button-cancel-color);
  }
  
.Button_PRIMARY:hover {
    background-color: var(--button-primary-color);
} */