.calendar-container {
  width: 100%; /* 화면 전체 너비 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  transition: transform 0.3s ease, height 0.3s ease;
}

.calendar-header {
  width: 100%;
  text-align: center;
  background-color: none;
  box-sizing: border-box;
  background-color: var(--background-color);
}

/* 커스텀 드롭다운 */
.custom-dropdown {
  position: relative;
  width: 200px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  margin: 10px auto; /* 가운데 정렬 */
  color: var(--text-color);
}

.custom-dropdown:hover {
  background-color: none ;
}

.selected-value {
  font-size: 16px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px; /* 드롭다운 너비 */
  display: flex;
  background-color: none;
  color: var(--text-color);
  border: 1px solid var(--background-selected-color);
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0px 4px 6px var(--background-selected-color);
}

.dropdown-column {
  flex: 1;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  padding: 0;
}

.dropdown-scroll {
  max-height: 90px; /* 3개 항목 */
  overflow-y: auto; /* 스크롤 가능 */
  border: none;
  background-color: var(--background-color);
  padding-bottom: 5px;
  /* 스크롤바 숨김 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.dropdown-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.dropdown-item {
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
}

.dropdown-item:hover {
  background-color: var(--primary-color);
  color: var(--button-text-color);
}

.dropdown-item.active {
  background-color: var(--primary-color);
  color: var(--button-text-color);
  font-weight: bold;
}

/* 캘린더 전체화면 크기 */
.react-calendar {
  width: 100%;
  height: 100%; /* 헤더를 제외한 영역 */
  border: none;
}

.react-calendar__viewContainer {
  height: 100%;
  background-color: var(--background-color);
}

.react-calendar__month-view {
  height: 100%;
}

.react-calendar__month-view__days {
  height: 100%;
}

.react-calendar__month-view__days__day {
  transition: height 0.3s ease;
  align-content: start;
}

/* "full" 상태 */
.calendar-container.full {
  height: 100%; /* CalendarView 전체 화면 */
}

.calendar-container.full .react-calendar__month-view__days__day {
  height: 15vh; /* 날짜 칸 기본 높이 */
}

/* "split" 상태 */
.calendar-container.split .calendar-container {
  height: 66.67%; /* CalendarView 2/3 높이 */
}

.calendar-container.split .react-calendar__month-view__days__day {
  height: 10vh; /* 날짜 칸 축소된 높이 */
}

/* "task-only" 상태 */
.calendar-container.task-only {
  height: 0;
  opacity: 0%;
}

.calendar-container.task-only * {
  height: 0vh; /* 날짜 칸 축소된 높이 */
}

/* 날짜 셀 내부 레이아웃 */
.react-calendar__tile {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  justify-content: flex-start; /* 상단 정렬 */
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  color: var(--text-color);
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: var(--text-secondary-color);
}

/* 빨간 점 컨테이너 */
.dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}

.task-dot {
  width: 5px;
  height: 5px;
  margin: 0 2px;
  background-color: var(--primary-color-red);
  border-radius: 50%;
}

.more-dots {
  width: 5px;
  margin: 0 2px;
  font-size: 15px;
  font-weight: bold;
  color: var(--primary-color-red);
  line-height: 5px;
}

.react-calendar__tile--now {
  background: var(--background-color);
  /* width: 10s0%; */
  text-align: center;
  align-items: center;
  /* background-color: var(--primary-color-red); */
  border-radius: 5px;
  color: var(--text-color);
}
/* 
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: var(--background-selected-color);
  color: var(--text-color);
} */

.react-calendar__tile--active {
  background: var(--background-color);
  color: var(--text-color);
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: var(--background-selected-color);
}

/* 오늘 날짜 스타일 */
.today-date {
  width: 22px;
  text-align: center;
  align-items: center;
  background-color: var(--background-dark-color);
  border-radius: 5px;
  color: var(--text-color-white);;
}
