.daily-task-list {
  width: 100%;
  transition: transform 0.3s ease, height 0.3s ease;
  padding: 10px;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
}

.daily-task-list h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.task-list-scroll {
  max-height: 15vh; /* 스크롤 가능한 영역 높이 */
  overflow-y: auto; /* 스크롤 활성화 */
}

.task-list-scroll ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-list-scroll li {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

.task-list-scroll li:last-child {
  border-bottom: none;
}

.daily-task-list p {
  font-size: 16px;
  color: #777;
  margin: 10px 0;
}
