
.form-group {
  display: flex; /* 라벨과 인풋을 가로로 정렬 */
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  flex: 0 0 80px; /* 라벨의 고정 너비 */
  font-size: 14px;
  font-weight: bold;
}

.form-group input {
  flex: 1; /* 입력 필드는 남은 공간 채우기 */
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 4px;
}


.form-group.datetime input{
  flex: 0.5; /* 입력 필드는 남은 공간 채우기 */
  font-size: 10px;
}